.conn_header {
    text-align: center;
    text-shadow: 0px 2px 20px #45403d;
    font-family: Impact, fantasy;
    font-size: 45px;
    color: #2d2d2d;
    padding: 10px;
    margin: 15px;
  }

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
}

.center-content {
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
}

.error_text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  font-size: 18px;
  font-family: monospace;
  font-weight: 600;
  color: #640101;
  text-decoration: underline;
}

.no_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nodata_animate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pie_chart_name {
  margin-top: 50px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}


.null_data {
  margin-bottom: 20pc;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}