/* Dropping menu */
.dropdown {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  border-top: solid 2px;
}

/* Elements (buttons) of dropping menu */
.menu_point {
  display: flex;
  align-items: center;
  text-align: center;
  overflow-wrap: anywhere;
  justify-content: center;
  text-decoration: none;
  width: 320px;
  height: 70px;
  border: 2px solid #e9306a;
  box-shadow: 0px 7px 10px 0px #001a3f;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'nbold',sans-serif;
  color: #001a3f;
  background: #ccd0d9;
  margin: 15px;
}

/* Behavior of menu_point button on hover */
.menu_point:hover {
  transform: scale(1.10);
  text-decoration: none;
  background: linear-gradient(359deg, #eeb1c5, #ec9ab5);
  color: #001a3f;
  font-size: 28px;
  transition: transform 0.5s;
}
