.dmklogo {
  height: 80px;
  margin-left: 20px;
}

.logo_with_header {
  display: flex;
  width: -webkit-fill-available;
}

.empty_block {
  height: 120px;
  margin-left: 10px;
  margin-top: 20px;
  width: -webkit-fill-available;
}

.now_date {
  text-align: center;
  font-family: 'nbold', Helvetica, sans-serif;
  font-size: 40px;
  color: #001a3f;
  padding: 10px;
  padding-top: 0;
  margin: 0;
}
  
.main_header {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'nbold', Helvetica, sans-serif;
  font-size: 50px;
  color: #001a3f;
  padding: 10px;
  margin: 15px;
  margin-bottom: 0;
}

.top_block {
  position: relative;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  margin-bottom: 5px;
}


