.detail_block {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: max-content;
  padding: 10px;
  margin: 10px;
}

.separated_detail_block {
  text-align: center;
  justify-content: center;
  font-family: 'nbold', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  overflow-wrap: anywhere;
  height: 100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px;
  margin: 15px;
  border: 2px solid #e9306a;
  box-shadow: 4px 13px 20px 0px #001a3f;
  border-radius: 15px;
  background: #ccd0d9;
}

.separated_detail_block_X {
  text-align: center;
  justify-content: center;
  font-family: 'nbold', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  overflow-wrap: anywhere;
  height: 100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px;
  margin: 15px;
  border: 2px solid #e9306a;
  box-shadow: 4px 13px 20px 0px #001a3f;
  border-radius: 15px;
  background: #ccd0d9;
}

.separated_detail_block_X:hover {
  transform: scale(1.10);
  text-decoration: none;
  background: linear-gradient(359deg, #eeb1c5, #ee8aab);
  color: #001a3f;
  font-size: 26px;
  transition: transform 0.5s;
}

.detail_block_header {
  font-family: 'nbold',Arial, Helvetica;
  color:#001a3f;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  margin: 2px;
  width: -webkit-fill-available;
  margin-top: 15px;
  border-bottom: solid 2px;
}

.blocks_container {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  height: max-content;
}

