.detail_block {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: max-content;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 4px 13px 20px 0px #434343;
  border-radius: 10px;
  background: radial-gradient(#778ec654, #336b8594);
}

.separated_detail_block {
  text-align: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  overflow-wrap: anywhere;
  height: 83px;
  /* height: max-content; */
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 4px 13px 20px 0px #00000045;
  border-radius: 10px;
  background: radial-gradient(#778ec654, #6da8ff94);
}

.separated_detail_block_X {
  text-align: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  overflow-wrap: anywhere;
  height: 83px;
  /* height: max-content; */
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 4px 13px 20px 0px #00000045;
  border-radius: 10px;
  background: radial-gradient(#778ec654, #6da8ff94);
}

.separated_detail_block_X:hover {
  background-color: #f0f0f0; /* Background color for the hover effect */
}

.detail_block_header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  margin: 2px;
  width: -webkit-fill-available;
  margin-top: 15px;
  background: radial-gradient(#3359a0, #518a92);
  border-radius: 5px;
}

.blocks_container {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: max-content;
/*  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 4px 13px 20px 0px #434343;
  border-radius: 10px;
  background: radial-gradient(#778ec654, #6da8ff94);   */
}
