/* Add global styles for the table container */
.signin-table {
  font-family:'nbold','Arial', sans-serif;
  border-collapse: collapse; 
  width: 100%; 
  border: 1px solid black; 
  margin-top: 12px;
}
  
/* Style the table header */
.signin-table th {
  font-family: 'nbold';
  background: linear-gradient(0deg, #b2b7c6, #f4d3dd);
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}
  
/* Style the table body rows */
.signin-table td {
  font-family: 'nbold'; 
  padding: 8px;
  text-align: right;
  font-weight: bold;
  border: 1px solid black; 
}

.signin-table tr {
  background-color: #b2b7c6; 
}

