.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
}
  
.arrived_pie {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  height: 600px;
  justify-content: space-evenly;
}

.signout_pie {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  justify-content: space-evenly;
}
