.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.arrived_pie {
  display: flex;
  flex-direction: row;
  width: 550px;
  height: 550px;
  justify-content: space-evenly;
}
